<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

    <h1>Covid-19 Tracker</h1>
    <label>Country</label>
    <select (change)="getCountry($event.target.value)">
      <option *ngFor="let country of countries" values={{country.Slug}}>{{country.Country}}</option>
    </select>
    <br><br>
    <button (click)="getCoronaData()">Get CoronaVirus Data</button>
    <h1>Total Confirmed Cases: {{confirmed}}</h1>
    <h1>Total Recovered Cases: {{recovered}}</h1>
    <h1>Total Deaths: {{deaths}}</h1>

</body>

</html>